html{
    box-sizing: border-box;
}
*,*:after,*:before{
    box-sizing: inherit;
}
.inner-vertical-middle:after{
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.inner-vertical-middle>*{
    display: inline-block;
    vertical-align: middle;
}
.hidden{
    display: none;
}